// Utility mixins
// -----------------------------------------------------------------------------

// Center-align a block level element
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clear of floats
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Responsive image
// Keep images from scaling beyond the width of their parents
//
// 1. Set a maximum relative to the parent
// 2. Scale the height according to the width, otherwise you get stretching
//
@mixin img-responsive($dp: block) {
  display: $dp;
  max-width: 100%; // 1
  height: auto; // 2
}

// Text truncate
// Requires inline-block or block for proper styling
@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Linear gradient
//
// 1. Fallback for old browsers
// 2. FF3.6-15
// 3. Chrome10-25, Safari5.1-6
// 4. W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
//
@mixin linear-gradient($c-start, $c-end) {
  background: $c-start; // 1
  background: -moz-linear-gradient(-45deg, $c-start 0%, $c-start 30%, $c-end 100%); // 2
  background: -webkit-linear-gradient(-45deg, $c-start 0%, $c-start 30%, $c-end 100%); // 3
  background: linear-gradient(135deg, $c-start 0%, $c-start 30%, $c-end 100%); // 4
}
