// Main navigation
// -----------------------------------------------------------------------------
//
// 1. Touch device friendly
//

.nav-main {
  @include list-reset;
  font-size: $fz-large;

  @media ($small-only-min) and ($small-only-max) {
    @include positioner-center-all;
  }

  @media ($medium-up) {
    @include list-inline-pipped;
    font-size: $fz-small;
  }

  &__link {
    @include link($c-light, $nav-main-link-c-hover);

    @media ($small-only-min) and ($small-only-max) {
      display: block; // 1
      padding: $sp-xxsmall;
    }

    @media ($medium-up) {
      @include link($nav-main-link-c, $nav-main-link-c-hover);
    }

    &.is-active {
      font-weight: $fw-bold;
    }
  }
}
