// Secondary navigation
// -----------------------------------------------------------------------------
//
// 1. Target IE10 and IE11, to apply a working alternative to `display: grid`:
// https://philipnewcomer.net/2014/04/target-internet-explorer-10-11-css/
//

.nav-secondary {
  @include list-reset;
  margin-bottom: $sp-small;
  text-align: center;
  line-height: $lh-large;

  @media ($medium-up) {
    margin-bottom: 0;
    text-align: left;
  }

  @media ($medium-up) and (-ms-high-contrast: none), (-ms-high-contrast: active) { // 1
    float: left;
    width: 20%;
  }

  &__link {
    @include link($nav-secondary-link-c, $nav-secondary-link-c-hover);

    .nav-secondary--social & {
      @include link($nav-secondary-social-link-c, $nav-secondary-social-link-c-hover);
    }
  }

  &--social {
    margin-bottom: 0;
    text-align: left;

    > li {
      @include center-block;
      width: 110px;

      @media ($medium-up) {
        width: auto;
      }
    }

    .icon {
      margin-right: 2px;

      @media ($large-up) {
        margin-right: $sp-base;
      }
    }
  }
}
