// Header
// -----------------------------------------------------------------------------

.header {
  @include positioner(fixed, $header-wd, $header-ht, top, 0, left, 0, $zi-50);
  background-color: $header-bg;
  box-shadow: 0 $br-small $c-mercury;

  @media ($medium-up) {
    @include size($header-wd-medium-up, $header-ht-medium-up);
  }

  > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__brand {
    @include size($header-brand-wd, $header-brand-ht);
  }

  &__nav {
    @media ($small-only-min) and ($small-only-max) {
      @include positioner($header-nav-po, $header-nav-wd, $header-nav-ht, top, 0, left, 0, $zi-50);
      @include linear-gradient($c-deyork, $c-curious);
      text-align: center;
    }
  }

  &__hamburger {
    @include size($header-hamburger-wd, $header-hamburger-ht);
    margin-right: -$sp-small;
    line-height: $header-hamburger-ht;
    background-color: $header-hamburger-bg;
    z-index: $zi-100;

    &:focus {
      @include tab-focus-silent;
    }
  }
}
